/* Colors */
$color-black: #000;
$color-white: #fff;
$color-lightgrey: #e3e3e3;
$color-darkgrey: #c1c1c1;
$color-darkergrey: #555555;

$brand-primary: #9dd40d;
$brand-primary-light: lighten($brand-primary, 30);
