<h4>
    Rekening gegevens
</h4>
<div class="content__item home">
    <form method="post" id="form">
        <label for="voorletters">
            Voorletters
        </label>
        <input name="voorletters" id="voorletters" type="text" />
        <label for="achternaam">
            Achternaam
        </label>
        <input name="achternaam" id="achternaam" type="text" />
        <label for="email">
            Email
        </label>
        <input name="email" id="email" type="email" />
        <label for="street">
            Straat + nr
        </label>
        <input name="street" id="street" type="text" />
        <label for="plaats">
            Plaats:
        </label>
        <input name="plaats" id="plaats" type="text" />
        <label for="postcode">
            Postcode
        </label>
        <input name="postcode" id="postcode" type="text" />
        <label for="telefoon">
            Telefoon
        </label>
        <input name="telefoon" id="telefoon" type="tel" />
        <button type="submit" class="submit">Verzenden</button>
    </form>
</div>
