<h4>
    Betaalopdracht
</h4>
<div class="content__item pay">
    <form method='post' id='form'>
        <label for="bedrag">
            Bedrag
        </label>
        <input name="bedrag" id="bedrag" type="text" />
        <label for="spoed">
            Spoed
        </label>
        <input name="spoed" id="spoed" type="checkbox" />
        <label for="van">
            Van rekening
        </label>
        <select name="van" id="van">
            <!-- TODO: read accounts from backend -->
            <option value="NL00AAAA0000000000">
                NL00AAAA0000000000
            </option>
            <option value="NL00AAAA0000000001">
                NL00AAAA0000000001
            </option>
        </select>
        <label for="datum">
            Uitvoerdatum
        </label>
        <input name="datum" id="datum" type="date" />
        <label for="naar">
            Naar rekening:
        </label>
        <input name="naar" id="naar" type="text" />
        <label for="naam">
            Ten name van
        </label>
        <input name="naam" id="naam" type="text" />
        <button type="submit" class="submit">Verzenden</button>
    </form>
</div>
