.home {
    label {
        float: left;
        width: 40%;
        height: 25px;
        margin-bottom: 10px;
    }

    input {
        float: right;
        width: 60%;
        margin-bottom: 10px;
    }

    button {
        float: right;
        position: relative;
    }
}
