.overview {
    list-style: none;
    padding: 0;
    width: 75%;

    li {
        height: 40px;
        margin: 5px 0 5px 0;
        position: relative;

        .bank-info {
            position: absolute;
            left: 10px;
            top: 5px;
            width: 100%;

            h5 {
                padding: 0;
                margin: 0;
            }

            .number {
                color: $color-darkergrey;
                font-size: 10px;
                line-height: 10px;
                padding: 0;
                margin: 0;
            }

            .way {
                position: absolute;
                right: 50%;
                padding: 0 3px 0 3px;
                color: $color-white;

                &.to {
                    background-color: $brand-primary;
                }

                &.from {
                    background-color: $brand-primary-light;
                }
            }

            .amount {
                font-size: 20px;
                line-height: 40px;
                z-index: 1;
                position: absolute;
                right: 20px;
                top: 0;

                &::before {
                    content: "\20AC";
                }
            }
        }
    }
}
