.pay {
    label {
        float: left;
        width: 40%;
        height: 25px;
        margin-bottom: 10px;
    }

    input,
    input[type="checkbox"],
    select {
        margin-bottom: 10px;
        float: right;
        width: 60%;
    }

    button {
        float: right;
        position: relative;
    }
}
