header {
    a {
        text-decoration: none;
        color: $color-black;

        &:hover {
            text-decoration: none;
            color: $color-black;
        }
    }

    .logo {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .container {
        background-color: $color-white;
        background: linear-gradient(to bottom, $color-white 0%, $color-lightgrey 100%);
    }

    .header__image {
        background-color: $brand-primary;
        height: 180px;
        display: block;
        width: 100%;

        background-image: url("../../assets/images/header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
