nav {
    /* Overwrite bootstrap navbar style */
    background: none !important;
    margin-bottom: 8px !important;
    min-height: 30px !important;
    margin-top: 50px;
    font-family: "MyriadProRegular";

    @media(min-width: $screen-sm-min){
        a {
            /* Overwrite bootstrap navbar style */
            padding: 0 !important;
            line-height: 20px;
            margin-top: -2px;
            margin-right: 7px;
            text-transform: uppercase;
        }

        li {
            margin-top: 10px;
            height: 20px;

            &:not(:first-child) {
                margin-left: 7px;
            }

            &:not(:last-child) {
                border-right: 1px solid $color-black;
            }
        }
    }

    .active {
        border-bottom: 2px solid $brand-primary;
    }
}
