@font-face {
    font-family: "BerlinSansFBReg";
    src: url("../../assets/fonts/BerlinSansFBReg.woff2") format("woff2"), url("../../assets/fonts/BerlinSansFBReg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../../assets/fonts/MyriadProRegular.woff2") format("woff2"), url("../../assets/fonts/MyriadProRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
