body {
    background-color: $color-white;
    color: $color-black;
}

.container {
    background-color: $color-lightgrey;
}

.content {
    padding-top: 80px;
    padding-bottom: 80px;

    &-left {
        ul {
            list-style: none;
            padding: 0;
            width: 75%;

            li {
                height: 40px;
                margin: 5px 0 5px 0;
                background-color: $brand-primary-light;
                border-color: $brand-primary-light;
                position: relative;
                color: $color-white;

                .bank-info {
                    position: absolute;
                    left: 10px;
                    top: 5px;

                    h5 {
                        padding: 0;
                        margin: 0;
                    }

                    .number {
                        color: $color-darkergrey;
                        font-size: 10px;
                        line-height: 10px;
                        padding: 0;
                        margin: 0;
                    }
                }

                .amount {
                    font-size: 20px;
                    line-height: 40px;
                    z-index: 1;
                    position: absolute;
                    right: 0;
                    top: 0;


                    &::before {
                        content: "\20AC";
                    }

                    sup {
                        font-weight: normal;
                        font-size: 60% !important;
                    }
                }

                &.active,
                &:hover {
                    background-color: $brand-primary;
                    border-color: $brand-primary;
                }

                &::after{
                    content: "";
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    border-radius: 20% / 50%;
                    border-right: 10px solid;
                    border-color: inherit;
                    right: -10px;
                }
            }
        }
    }

    &-right {
        .content__item {
            border: 1px solid $color-darkgrey;
            min-height: 300px;
            margin-bottom: 25px;
            padding: 15px;
        }
    }
}
